@charset "UTF-8";
/* -------------------------
   Reset & Base Styles
-------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.3;
  color: #191919;
  margin: 32px;
}
/* -------------------------
   Layout: Navigation
-------------------------- */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.logo, .actions {
  flex: 1;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 1;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-top: -8px;
}
.actions {
  text-align: right;
}
a {
  text-decoration: none;
  color: #0000FF;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0000FF;
}
.actions a {
  margin-left: 16px;
}
.actions a:first-child {
  margin-left: 32px;
}
/* -------------------------
   Hero Section
-------------------------- */
.hero {
  font-size: clamp(1rem, 2vw, 2rem);
}
h1 {
  font-size: 3em;
  line-height: 0.9;
  margin-left: -4px;
  font-weight: 900;
}
/* -------------------------
   Subtext
-------------------------- */
.subtext {
  padding: 32px 0;
  width: 70%;
}
/* -------------------------
   Case Studies Section
-------------------------- */
.cases {
  display: flex;
  gap: 2vw;
  margin-top: 8px;
}
.row {
  flex: 1;
  margin: 0;
  padding: 0;
}
.subline {
  color: #999;
}
video {
  max-width: 600px;
  object-fit: contain;
  display: inline-block;
  width: 100%;
  margin-bottom: -6px;
}
img {
  margin-bottom: -6px;
}
.label {
  padding-top: 8px;
  padding-bottom: 24px;
}
.alfa-site {
  background-color: #F13728;
  text-align: center;
}
.metals {
  background-color: #A151FF;
  text-align: center;
}
.dinn-admin {
  background-color: #FED146;
  text-align: center;
}
.dinn-admin video {
  max-width: 1024px;
  min-width: 300px;
}
.dinn-tips {
  background-color: #D962FF;
  text-align: center;
}
.alfa-pay {
  background-color: #000;
  text-align: center;
}
.autoru {
  background-color: #FF5A3B;
  text-align: center;
  padding: 64px 0;
}
.autoru img {
  max-width: 407px;
  width: 100%;
}
.article {
  text-align: center;
}
.article img {
  width: 100%;
}
.mag {
  background-color: #0000FF;
  text-align: center;
  height: 850px;
  background-image: url('5-mag.png');
  background-repeat: no-repeat;
  background-position: 100px 100px;
  background-size: cover;
}
.figma-plugin {
  background-color: #111111;
  text-align: center;
  width: 100%;
}
.figma-plugin img {
  max-width: 1024px;
  width: 100%;
}
.rotating-circle {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  animation: spin 20s linear infinite;
  position: absolute;
  top: 186px;
  right: 64px;
  z-index: 100;
  pointer-events: none;
  width: min(max(220px, 20vw), 300px);
  height: min(max(220px, 20vw), 300px);
}
.rotating-circle svg {
  display: block;
  width: 100%;
  height: 100%;
}
.rotating-circle text {
  font-size: 26px;
  font-family: "Geist", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  fill: #191919;
  font-weight: 800;
  text-align: justify;
  opacity: 20%;
}
#moreText {
  display: none;
}
#moreText div {
  padding-bottom: 10px;
}
#toggleLink {
  cursor: pointer;
}
#toggleLink:hover {
  text-decoration: underline;
}
.currently {
  padding-top: 10px;
}
.marquee-container {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin: 32px 0;
  position: relative;
}
.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}
.marquee-text {
  padding: 0 2rem; /* Some spacing between repeats */
  font-size: 1.3em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #191919;
  opacity: 0.2;
}
.optional {
  padding: 0;
  margin: 0;
}
.links {
  margin-top: 32px;
  align-content: center;
}
.links a {
  color: #191919;
  text-decoration: none;
}
.links a:hover {
  text-decoration: none;
}
.links div {
  background-color: #f5f5f5;
  padding: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  cursor: pointer;
}
.links div:hover {
  background-color: #ccc;
}

.gradient-text {
  background: linear-gradient(90deg, #FF4D4D, #FF00CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.footer {
	background-color: #f5f5f5;
	width: 100%;
	height: 400px;
	margin-top: 40px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1000px) {
  .cases {
    flex-direction: column;
  }
  .rotating-circle {
    top: 260px;
    transform: translateX(50%);
  }
}
@media (max-width: 800px) {
  .rotating-circle {
    top: 260px;
    transform: translateX(50%);
  }
  .optional {
    display: none !important;
  }
}
@media (max-width: 660px) {
  .rotating-circle {
    top: 330px;
    transform: translateX(50%);
  }
  .mag {
    height: 600px;
  }
  .autoru img {
    max-width: 300px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .rotating-circle {
    display: none;
  }
  body {
    margin: 32px 16px;
  }
  .subtext {
    width: 100%;
  }
  .autoru img {
    max-width: 250px;
    width: 100%;
  }
}